body{
    background-color: #2e2e30;
    width: 1086px;
    margin: 0 auto;
    font: small-caps 1em/1 cursive;
}

.container{
    display: grid;
    grid-template-areas: "navigation"
                         "last-article"
                         "top-5-articles"
                         "all-articles";
    grid-template-rows: 100px auto minmax(140px, auto) auto;
    grid-gap: 10px;
}

.navigation{
    grid-area: navigation;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: sticky;
    top: 0;
    padding: 0 2em;
    background-color: #2e2e30;
    align-items: center;
    border-bottom: solid 1px white;
    box-shadow: 2px 2px 14px inset silver,
               -2px -2px 14px inset silver;
    z-index: 2;
}

.navigation nav{
    width: 50%;
    height: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: auto;
    background-color: #38383a;
    border: solid 1px white;
    border-radius: 6px;
}

.navigation nav ul{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

.navigation nav ul li{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-basis: 33.334%;
    border-radius: 4px;
}

.navigation nav ul li:hover{
    background-color: white;
    transition: 1s;
}

.navigation nav ul li a{
    width: 100%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.navigation nav ul li:hover a{
    color: black;
}

.article-category-box{
    padding: 5px;
    width: 7em;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
}

.category-lifestyle{
    background-color: #4b77be;
}

.category-science{
    background-color: #e52a40;
}

.category-technology{
    background-color: #e87e04;
}

.category-education{
    background-color: #663399;
}

.category-travel{
    background-color: #26a65b;
}

.last-article{
    grid-area: last-article;
    position: relative;
}

.last-article .article-description{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 3em;
    width: 60%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5),
               -4px -4px 15px rgba(0, 0, 0, 0.5);
}

.last-article .article-header a{
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: capitalize;
}

.last-article .article-header a:hover{
    text-decoration: underline;
}

.last-article .article-first-sentence{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.last-article .read-more-button{
    width: 7em;
    padding: 10px;
    margin-top: 1em;
    letter-spacing: 2px;
    border: solid 1px white;
    border-radius: 25%;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

.last-article .read-more-button a{
    text-decoration: none;
    color: white;
}

.last-article .read-more-button:hover{
    background-color: #4b77be;
    transition: 0.5s;
}

.top-5-articles{
    grid-area: top-5-articles;
    display: flex;
    position: sticky;
    top: 100px;
}

.top-5-articles .top-article{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    padding: 10px 20px;
}

.top-5-articles .top-article .article-category{
    text-transform: uppercase;
}

.top-5-articles .top-article .article-header{
    text-transform: capitalize;
}

.top-5-articles .top-article .article-category,
.top-5-articles .top-article .article-header{
    flex-basis: 50%;
    font-size: 1.2em;
    color: white;
}

.top-5-articles .top-article .article-header a{
    text-decoration: none;
    color: white;
}

.top-5-articles .top-article .article-header a:hover{
    text-decoration: underline;
}

.all-articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    z-index: 2;
    padding-bottom: 3px;
    background-color: #000000;
}

.all-articles .article{
    height: 33.125em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.4),
               -4px -4px 15px rgba(255, 255, 255, 0.4);
}

.all-articles .article .article-category-box{
    cursor: default;
    position: absolute;
    top: 1em;
    left: 1em;
}

.all-articles .article .article-image{
    height: 14em;
    justify-content: center;
    background-color: #cfd2d3;
    border-radius: 5px 5px 0 0;
}

.all-articles .article .article-image:hover{
    cursor: pointer;
}

.all-articles .article .article-image p{
    font-size: 1.6em;
    text-align: center;
    margin: 25% 0;
}

.all-articles .article .article-description{
    height: 11em;
    box-sizing: border-box;
    padding: 1em;
    background-color: #f2f1f1;
    border-bottom: solid 1px #cccccc;
    font-size: 1.3em;
}

.all-articles .article .article-description .article-header a{
    text-transform: capitalize;
}

.all-articles .article .article-description .article-header a,
.all-articles .article .article-actions .read-more-button a,
.all-articles .article .article-actions .comments-count-box a,
.all-articles .article .article-actions .likes-count-box a{
    text-decoration: none;
    color: #4b77be;
}

.all-articles .article .article-description .article-header a:hover,
.all-articles .article .article-actions .read-more-button a:hover,
.all-articles .article .article-actions .comments-count-box a:hover,
.all-articles .article .article-actions .likes-count-box a:hover{
    color: currentColor;
}

.all-articles .article .article-actions{
    height: 5em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0.5em;
}

.all-articles .article .article-actions .read-more-button{
    text-transform: uppercase;
    flex-basis: 50%;
}

.all-articles .article .article-actions .comments-count-box,
.all-articles .article .article-actions .likes-count-box{
    flex-basis: 20%;
}

.all-articles .article .article-actions .read-more-button,
.all-articles .article .article-actions .comments-count-box,
.all-articles .article .article-actions .likes-count-box{
    height: 2em;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #999999;
    border-radius: 1.25em;
    font-size: 1.2em;
    text-align: center;
}

.all-articles .article .article-actions .comments-count-box img,
.all-articles .article .article-actions .likes-count-box img{
    vertical-align: middle;
}
