body{
    background-color: #2e2e30;
    display: grid;
}

.container{
    width: 80%;
    display: grid;
    justify-self: center;
    grid-template-rows: 100px 606px 130px minmax(1450px, auto) 330px;
}

.navigation{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: sticky;
    top: 0;
    padding-right: 2em;
    margin-bottom: 8px;
    background-color: #2e2e30;
    align-items: center;
    border-bottom: solid 1px white;
    box-shadow: 2px 2px 14px inset silver, -2px -2px 14px inset silver;
    font: italic small-caps 1em/1 cursive;
    z-index: 2;
}

.navigation > a img.brand-image{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-left: 2em;
}

.navigation nav{
    width: 50%;
    height: 50%;
    display: flex;
    margin-left: auto;
    background-color: #38383a;
    border: solid 1px white;
    border-radius: 6px;
}

.navigation nav ul{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0;
    padding: 0;
    -ms-align-items: center;
    align-items: center;
    font-size: 1.5em;
    color: #ffffff
    list-style-type: none;
}

.navigation nav ul li{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-self: stretch;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    flex-basis: 33.33%;
    border-radius: 4px;
}

.navigation nav ul li:hover{
    background-color: white;
    transition: 1s;
}

.navigation nav ul li:hover a{
    color: black;
}

.navigation nav ul li a{
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    color: white;
    -ms-align-self: stretch;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.last-article{
    position: relative;
}

.last-article .article-image{
    width: 100%;
    height: 100%;
}

.last-article .article-description{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 3em;
    width: 60%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5),
               -4px -4px 15px rgba(0, 0, 0, 0.5);
}

.last-article .article-category{
    padding: 5px;
    width: 7em;
    background-color: #4b77be;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
}

.last-article .article-header a{
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: capitalize;
}

.last-article .article-header a:hover{
    text-decoration: underline;
}

.last-article .article-first-sentence{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.last-article .read-more-button{
    width: 7em;
    padding: 10px;
    margin-top: 1em;
    letter-spacing: 2px;
    border: solid 1px white;
    border-radius: 25%;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

.last-article .read-more-button a{
    text-decoration: none;
    color: white;
}

.last-article .read-more-button:hover{
    background-color: #4b77be;
    transition: 0.5s;
}
